.remote-caret.hide-name > div {
    transition-delay: 0.7s;
    opacity: 0;
}

.remote-caret:hover > div {
    opacity: 1;
    transition-delay: 0s;
}

.remote-caret {
    position: absolute;
    border-left: black;
    border-left-style: solid;
    border-left-width: 2px;
    height: 1em;
}

.remote-caret > div {
    position: relative;
    top: -1.05em;
    font-size: 13px;
    background-color: rgb(250, 129, 0);
    font-family: serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    user-select: none;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    z-index: 3;
    transition: opacity 0.3s ease-in-out;
}
    